.answer div {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 5px;
}

.answer div > div {
    margin-bottom: 5px;
}

.answer div input{
    margin: 0 5px 0 0;
}

.answer .answer-content {
    width: 90%;
    border-left: 1px solid #bdc3c7; 
    padding: 0 5px;
    margin-bottom: 0;
    word-wrap: break-word;
}

.answer .answer-content p {
    margin-bottom: 0px;
    /* word-wrap: break-all; */
    overflow-wrap: anywhere;
    display: block;
}

.answer .answer-icon {
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    font-size: 18px;
    margin-bottom: 0;
}

.answer .answer-icon .fa-edit {
    color: #2980b9;
}

.answer .answer-icon .fa-trash-alt {
    color: #e84118;
}


.form-check-input {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;


    border-width: .5px !important;
    padding: 10px !important;
    margin: 0 2px !important;
}

.form-check-input:focus {
    outline: none !important;
}

.form-check-input:checked[type=radio] {
    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
}


.input-info:checked {
    background-color: #12CBC4 !important;
    border-color: #12CBC4 !important;
}

.input-success:checked {
    background-color: #009432 !important;
    border-color: #009432 !important;
}

.input-danger:checked {
    background-color: #EA2027 !important;
    border-color: #EA2027 !important;
}

.input-warning:checked {
    background-color: #FFC312 !important;
    border-color: #FFC312 !important;
}

.input-info {
    background-color: #12CBC4 !important;
    border-color: #12CBC4 !important;
}

.input-success {
    border-color: #009432 !important;
    background-color: #009432 !important;

}

.input-danger {
    border-color: #EA2027 !important;
    background-color: #EA2027 !important;
}

.input-warning {
    border-color: #FFC312 !important;
    background-color: #FFC312 !important;
}


