.main-header,
.main-sidebar,
.wrapper,
.logo {
    background: linear-gradient(145deg, #00b5ad, #17a2b8) !important;
}

.skin-blue .main-header .navbar {
    background-color: transparent;
}

.box {
    transition: all .5s ease-in-out;
    /* border-radius: 20px; */
    border-radius: .55rem !important;
}

.box:hover {
    box-shadow: 0 2px 10px rgb(52 58 64 / 20%);
}

.form-control {
    width: 100%;
    display: inline;
    border-radius: 3px !important;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group>div {
    width: 70%;
}

/* .select2-container {
    width: 70% !important;
} */

.select2-selection {
    border-radius: 5px !important;
}

.sidebar-toggle:hover {
    background: #01a3a4 !important;
}


/* modal feedback */

.feedback-info {
    padding-bottom: 15px;
    border-bottom: 2px solid #17a2b8;
}

.feedback-item i {
    margin-right: 10px;
    color: #2c3e50;
}

.feedback-item i+span {
    color: #17a2b8;
    font-weight: 600;
}

.feedback-item {
    margin-bottom: 10px;
}

.feedback-question {
    margin: 50px 0 15px;
    color: #17a2b8;
}

.feedback-question>span {
    font-weight: bold;
    color: #2c3e50;
}

.feedback-answer,
.feedback-question {
    letter-spacing: 1px;
}

.answer-items {
    margin: 5px 0;
}

.answer-items i {
    margin-right: 5px;
}

/* custom input type file */
.label-type-file {
    cursor: pointer;
}

.input-type-file {
    /* opacity: 0;
    position: absolute;
    z-index: -1; */
}

.custom-import {
    margin-bottom: 10px;
}

.custom-import input[type=file] {
    display: inline;
}
@media (min-width: 768px) {
    .modal .modal-dialog {
        width: 70vw !important;
    }
}
