.main-header, .main-sidebar, .wrapper, .logo {
    background: linear-gradient(
        145deg
        ,#00b5ad,#17a2b8) !important;
}

.skin-blue .main-header .navbar {
    background-color: transparent;
}

.box {
    transition: all .5s ease-in-out;
    /* border-radius: 20px; */
    border-radius: .55rem !important;
}

.box:hover {
    box-shadow: 0 2px 10px rgb(52 58 64 / 20%);
}

.form-control {
    width: 100%;
    display: inline;
    border-radius: 3px !important;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.form-group > div {
    width: 70%;
}

/* .select2-container {
    width: 70% !important;
} */

.select2-selection {
    border-radius: 5px !important;
}

.sidebar-toggle:hover {
    background: #01a3a4 !important;
}


@media (min-width: 768px) {
    .modal .modal-dialog {
        width: 70vw !important;
    }
}
