.container {
    height: 100vh;
}

.error-div, .error-general {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00b5ad;
    height: 100%;

}

.error-div h1 {
    text-align: center;
}

.error-general {
    font-size: 20px;
}