.main-content {
    color: #2c3e50;
}

.main-content .row > .col-lg-12 > .box {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.form-check {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-check-note {
    justify-content: flex-start;
    padding: 10px 20px;
}

.form-check-note div {
    margin-left: 10px;
}

.form-check .form-check-input {
    margin-left: 0;
}

/* .box-body {
    padding: 20px;
} */

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #00a8ff !important;
}

.table {
    height: 50px;
    table-layout: fixed;
}

.table-name, .table-date{
    min-width: 100px;
}

.table-name p {
    margin-bottom: 0;
}

.form-table {
    max-height: 500px;
    width: 100%;
    padding: 20px 0;

    position: relative;
    overflow: auto;
    white-space: nowrap;

}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.form-footer .form-check {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.form-footer input {
    margin: 0 5px 0 10px !important;
}

.form-check p {
    margin-bottom: 6px;
}

.btn {
    margin: 10px 5px;
}

/* .col {
    width: 45px;
} */

/* th, td { */
    /* resize: both; overflow: auto; */
    /* width: 200px; */
/* } */

table {
    color: #525f7f !important;
}

table td {
    color: #525f7f !important;
}


.form-check .form-check-input {
    border-width: .5px !important;
    padding: 10px !important;
    margin: 0 2px;
}

.form-check-input:focus {
    outline: none !important;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e") !important;
}

.input-info:checked {
    background-color: #12CBC4 !important;
    border-color: #12CBC4 !important;
}

.input-success:checked {
    background-color: #009432 !important;
    border-color: #009432 !important;
}

.input-danger:checked {
    background-color: #EA2027 !important;
    border-color: #EA2027 !important;
}

.input-warning:checked {
    background-color: #FFC312 !important;
    border-color: #FFC312 !important;
}

.input-info {
    background-color: #12CBC4 !important;
    border-color: #12CBC4 !important;
}

.input-success {
    border-color: #009432 !important;
    background-color: #009432 !important;

}

.input-danger {
    border-color: #EA2027 !important;
    background-color: #EA2027 !important;
}

.input-warning {
    border-color: #FFC312 !important;
    background-color: #FFC312 !important;
}

.form-notice {
    padding: 20px;
}

.form-notice table td {
    width: 50%;
}

.hidden-checkIn {
    display: none;
}

.choose-time .col-lg-4 {
    display: flex;
    justify-content: center;
}

.pick-time {
    margin: 30px 0 40px;
    display: flex;
    justify-content: center;
}

td:not(:first-of-type), th:not(:first-of-type) {
    width: 150px;
}

td:first-of-type, th:first-of-type {
    width: 80px;
}

.sticky-col {
    position: sticky;
    /* z-index: 1; */
    background-color: white !important;

}

.first-col {
    left: 0;
}

.second-col {
    left: 80px;
}

.third-col {
    left: 230px;
}


@media  (max-width: 767px) {
    .hidden_checkIn {
        display: none;
    }

    /* .sticky-col {
        display: ruby-base;
    } */

    .first-col {
        left: 0;
    }
    
    .second-col {
        left: 0;
        z-index: 2;
    }
    
    .third-col {
        left: 0;
    }
    
}